<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Gourmet Coffee</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <div class="caixa">
        <h1>Java Gourmet Coffee</h1>
        <form>
            <p>Tipo: <input type="text" name="tipo" id="tipo" placeholder="Ex.: Blend"></p>
            <p></p>Acidez: <input type="text" name="tipo" id="tipo" placeholder="Ex.: 3"></p>
            <p></p>Aroma: <input type="text" name="tipo" id="tipo" placeholder=""></p>
            <p><input class="botao" type="submit" value="Enviar"></p>
        </form>
    </div>
</body>
</html>