<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 6 - JavaScript</title>
</head>
<body>
    <!--
        Desafio:
        Elaborar um programa que leia um número. Calcule e informe os seus vizinhos.

    -->
    <script>
        const numero = prompt("Digite um número:");
        const anterior = Number(numero) - 1;
        const sucessor = Number(numero) + 1;

        alert("Número inserido: " + numero + "\n Seu anterior é: " + anterior + "\n Seu sucessor é: " + sucessor);
    </script>
</body>
</html>