<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <header>
        <!-- Aqui é o cabeçalho da página -->

        <ul>
            <li><a href="#secao_noticias">Notícias</a></li>
            <li><a href="#secao_comercio">Comércio</a></li>
            <li><a href="#secao_cultura">Cultura</a></li>
            <li><a href="#secao_educacao">Educação</a></li>
            <li><a href="#secao_escolaridade">Escolaridade</a></li>
            <li><a href="#secao_esportes">Esportes</a></li>
            <li><a href="#secao_espiritualidade">Espiritualidade</a></li>
            <li><a href="#secao_palestras">Palestras</a></li>
            <li><a href="#secao_bate_papo">Bate Papo</a></li>
        </ul>

    </header>

    <main>
        <!-- Aqui é o conteúdo principal da página -->
         
        <h3 class="titulo" id="secao_noticias">Notícias</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_comercio">Comércio</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_cultura">Cultura</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_educacao">Educação</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_escolaridade">Escolaridade</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_esportes">Esportes</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_espiritualidade">Espiritualidade</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_palestras">Palestras</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

        <h3 class="titulo" id="secao_bate_papo">Bate Papo</h3>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. In elementis mé pra quem é amistosis quis leo. Leite de capivaris, leite de mula manquis sem cabeça. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
        <p>Diuretics paradis num copo é motivis de denguis. Atirei o pau no gatis, per gatis num morreus. Manduma pindureta quium dia nois paga. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
        <p>Morbi viverra placerat justo, vel pharetra turpis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. In elementis mé pra quem é amistosis quis leo.</p>
        <p>Negão é teu passadis, eu sou faxa pretis. Sapien in monti palavris qui num significa nadis i pareci latim. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <p>Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Manduma pindureta quium dia nois paga. Detraxit consequat et quo num tendi nada.</p>

    </main>

    <footer>
        <!-- Aqui é o rodapé da página -->
        <p>SENAI - 2026</p>

    </footer>
</body>
</html>