<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 4 - JavaScript</title>
</head>
<body>
    <!--
        Desafio:
        Crie um Script  que receba dois números inteiros e mostre o resultado

    -->
    <script>
        const numero1 = prompt("Digite o Primeiro número:");
        const numero2 = prompt("Digite o Segundo número:");
        const soma = Number(numero1) + Number(numero2);

        alert("Primeiro número inserido: " + numero1 + "\nSegundo número inserido: " + numero2 + "\nA soma dos dois números é: " + soma);
    </script>
</body>
</html>